<div class="row">
  {{#each ideas}}
  <div class="col s12 m6 l4">
    <div class="card orange accent-1 hoverable">
      <div class="card-content brown-text text-darken-2">
        <span class="card-title">{{topic}}</span>
        <p>{{details}}</p>
        <p id="biggieIdeaCreateDate" class="orange-text text-darken-1">Created:
        </p>
        {{#if updateDate}}
        <p id="biggieIdeaUpdateDate" class="orange-text text-darken-1">Updated: {{updateDate}}</p>
        {{/if}}
      </div>
      <div class="card-action right-align">
        <a href="/ideas/edit/{{id}}" class="waves-effect waves-light btn-small">
          <i class="material-icons orange-text small">edit</i>
        </a>
        <a href="/ideas/delete/{{id}}" class="waves-effect waves-light btn-small">
          <i class="material-icons orange-text text-lighten-2 small">delete</i>
        </a>
      </div>
    </div>
  </div>
  {{else}}
  <h3 id="biggieStartHere" class="center-align teal-text text-lighten-1">Start your big idea by clicking
    <a class="btn-floating btn-large waves-effect waves-light white-text teal lighten-1" href="/ideas/add">
      <i class="material-icons">add</i>
    </a>
  </h3>
  {{/each}}
  </div